<html>

<head>

</head>

<body>
    <form method='post' action '/create-gab'>
        <div>
            <textarea name="description" rows="" cols="" placeholder="Write your gab in 140 characters" autofocus></textarea>
        </div>
        <div>
            <button type="submit">Save the Gab</button>
        </div>
    </form>
</body>

</html>