.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding-right: 5px;
}

.nav-hr {
    margin: 0 .5em;
    padding: 10px 0px;
}

.gab-container {
    border: 1px solid grey;
    margin: 10px 0;
}

.gab-text {
    padding: 10px;
}

.timestamp {
    padding: 10px;
}

.gab-likes {
    padding: 0px 10px;
}

